<h1><%= @team.name %></h1>

<h2><%= @team.motto %></h2>

<h2><%= @members.first.name %></h2>
    <p>Hero Power: <%= @members.first.power%></p>
    <p>Hero Biography: <%= @members.first.bio%></p>
  
<h2><%= @members.first.name %></h2>
    <p>Hero Power: <%= @members[1].power%></p>
    <p>Hero Biography: <%= @members[1].bio%></p>
    
<h2><%= @members.first.name %></h2>
    <p>Hero Power: <%= @members.last.power%></p>
    <p>Hero Biography: <%= @members.last.bio%></p>
  

